name: Package Tests

on:
  push:
    branches:
      - master
      - '*.x'
  pull_request:

jobs:
  package-tests:
    runs-on: ubuntu-22.04

    strategy:
      fail-fast: true
      matrix:
        php: [ 8.1, 8.2 ]
        laravel: [ 10 ]
        stability: [ 'prefer-lowest', 'prefer-stable' ]

    name:  PHP ${{ matrix.php }} L${{ matrix.laravel }} w/ ${{ matrix.stability }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: dom, curl, libxml, mbstring, zip
          ini-values: error_reporting=E_ALL
          tools: composer:v2
          coverage: none

      - name: Install dependencies
        uses: nick-fields/retry@v2
        with:
          timeout_minutes: 5
          max_attempts: 5
          command: |
            composer update --prefer-dist --no-interaction --no-progress --${{ matrix.stability }}

      - name: Execute tests
        run: vendor/bin/phpunit --verbose
